:root {
      --main-color: rgb(46, 46, 236);
      --second-color: rgb(109, 109, 228);
      --main-transiton: .7s;
}

* {
      padding: 0px;
      margin: 0px;
      box-sizing: border-box;
      /* outline: 1px solid red; */
}

body {
      scroll-behavior: smooth;
      font-family: 'Roboto', sans-serif;
}

/*Utilty Class*/
.container {
      padding:0em 1.5em;
      width: 100%;
      margin: 0 auto;
}

.row {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;

}

.col-3 {
      flex-basis: 100%;
}

@media (min-width:768px) and (max-width:991px) {
      .container {
            width: 750px
      }

      .col-3 {
            flex-basis: 50%;
      }
}

@media (min-width:992px) and (max-width:1199px) {
      .container {
            width: 970px
      }

      .col-3 {
            flex-basis: 30%;
      }
}

@media (min-width:1200px) {
      .container {
            width: 1150px
      }

      .col-3 {
            flex-basis: 25%;
      }
}

.overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: rgba(0, 0, 0, .7);
}

.center {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
}

ul {
      list-style: none;
}

a {
      text-decoration: none;
      text-transform: capitalize;
}

img {
      width: 100%;
}

/*Title*/
.title {
      text-align: center;
      margin:0 auto;
}

.title h2 {
      font-size: 2.7em;
      font-weight: bold;
      position: relative;
}

.title h2:after {
      content: "";
      position: absolute;
      width: 60px;
      height: 4px;
      bottom: 0;
      left: 51%;
      background-color: var(--main-color);
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
}

@media (max-width:767px) {
      .title h2 {
            font-size: 1.5em;
      }
}

/*margin*/
.m-auto {
      margin: auto;
}

.g-1 {
      gap: 1.5rem
}

.m-1 {
      margin: 1em;
}

.p-1 {
      padding: 1rem;
}

.mb-1 {
      margin-bottom: 1rem;
}

.mt-1 {
      margin-top: 1rem
}

.mt-3 {
      margin-top: 3rem
}

.mb-5 {
      margin-bottom: 5rem;
}

.mt-5 {
      margin-top: 5rem
}

.ms-1 {
      margin-left: 1em;
}

.me-1 {
      margin-right: 1em;
}
.me-5{
      margin-right: .5em;
}
/*button*/
.btn {
      padding: .4em .8em;
      border: 1px solid rgb(46, 46, 236);
      font-size: 1.7em;
      border-radius: .8em;
      transition: .5s;
      -webkit-transition: .5s;
      -moz-transition: .5s;
      -ms-transition: .5s;
      -o-transition: .5s;
      -webkit-border-radius: .8em;
      -moz-border-radius: .8em;
      -ms-border-radius: .8em;
      -o-border-radius: .8em;
}

.btn:hover {
      background-color: rgb(190, 186, 186);
      cursor: pointer;
}

.btn-outline {
      background-color: rgb(46, 46, 236);
      color: white;
      border: none;
      transition: .5s;
      -webkit-transition: .5s;
      -moz-transition: .5s;
      -ms-transition: .5s;
      -o-transition: .5s;
}

.btn-outline:hover {
      background-color: rgb(14, 14, 128);
      cursor: pointer;
      border: none;

}

@media (max-width:767px) {
      .btn {
            padding: .3em .6em;
            font-size: 1.3em;
      }
}

@media (max-width:567px) {
      .btn {
            padding: .2em .4em;
            font-size: 1.2em;
      }
}

/*////////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*header*/
header {
      width: 100%;
      height: 70px;
      position: relative;

}

header .fix {
      position: fixed;
      padding: 1.5em;
      top: 0;
      width: 100%;
      height: inherit;
      background-color: black;
      z-index: 59;
      display: flex;
      justify-content: space-between;
      align-items: center;
}

header .logo {
      width: 70px;
}

header .logo img {
      border-radius: 1em;
      -webkit-border-radius: 1em;
      -moz-border-radius: 1em;
      -ms-border-radius: 1em;
      -o-border-radius: 1em;
}

header ul {
      display: flex;
      gap: 2em;
}

header ul li a {
      color: red;
      font-size: 1.3em;
}

header span i {
      color: white;
      font-size: 3em;
}

header ul li {
      position: relative;
}

header ul li:first-child::after {
      content: "";
      position: absolute;
      bottom: -7px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: rgb(32, 32, 247);

}

header ul li::after {
      content: "";
      position: absolute;
      bottom: -7px;
      left: 0;
      width: 0;
      height: 0;
      background-color: rgb(32, 32, 247);
      transition: .5s;
      -webkit-transition: .5s;
      -moz-transition: .5s;
      -ms-transition: .5s;
      -o-transition: .5s;
}

header ul li:hover::after {
      width: 100%;
      height: 2px;
      transition: .5s;
}

@media (max-width:992px) {
      header ul {
            display: none;
      }

      header .fix {

            justify-content: space-between;

      }

      header span:hover+ul {
            display: flex;
            flex-direction: column;
            gap: .5em;
            top: 100%;
            left: 0;
            right: 0;
            width: 100%;
            position: absolute;
            background-color: rgb(255, 246, 246);
      }

      header ul li {
            position: relative;
            background-color: antiquewhite;
            padding: 0.5em 1.5em;
      }
}

@media (min-width:991px) {
      header span {
            display: none;
      }

}

/*main*/
main {
      width: 100%;
      height: calc(100vh - 70px);
      background-image: url(../images/home.jpg);
      background-size: cover;
      background-position: center;
      position: relative;
      color: white;
}

main .center h2 {
      font-size: 3.3em;

}

main .center p {
      font-size: 1.2em;
}

@media (max-width:767px) {
      main .center h2 {
            font-size: 1.9em;
      }

      main .center p {
            font-size: .6em;
      }
}

/*welcome*/
.child {
      border: 2px solid var(--second-color);
      padding: 1em;
      position: relative;
      transition: .1s;
      -webkit-transition: .1s;
      -moz-transition: .1s;
      -ms-transition: .1s;
      -o-transition: .1s;
}

@media (min-width:768px) {
      .child:hover {
            border: none;
      }

      .child:hover h3 {
            color: white;
      }
}

.child:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      background-color: black;
      z-index: -1;
      transition: 1.5s;
      -webkit-transition: 1.5s;
      -moz-transition: 1.5s;
      -ms-transition: 1.5s;
      -o-transition: 1.5s;
}

.child:hover::after {
      width: 100%;
      height: 100%;
}

.child h3 {
      font-size: 1.7em;
}

.child p {
      color: #777;
      padding: 0 .3em;
      font-size: 1.2em;
      text-align: center;
      line-height: 1.6;
}

.child a {
      color: var(--second-color);
}

.child i {
      color: var(--second-color);
      font-size: 1.6em;
}

@media (min-width:768px) and (max-width:991px) {
      .child p {
            padding: 0 .3em;
            font-size: 1em;
      }

      .child {
            border: 0;
            padding: 1em .3em;
            margin: 2em .1em 0em;
      }

      .child h3 {
            font-size: 1.2em;
      }

      .child:hover::after {
            border-radius: .6em;
      }

}

@media (min-width:992px) and (max-width:1199px) {
      .child {
            border: none;
            padding: 1em .3em;
            margin: 2.5em .1em 0em;
      }

      .child:hover::after {
            border-radius: .6em;
            -webkit-border-radius: .6em;
            -moz-border-radius: .6em;
            -ms-border-radius: .6em;
            -o-border-radius: .6em;
      }
}

@media (max-width:767px) {
      .child {
            margin: 2em .1em 0em;
      }

      .child:after {
            display: none;
      }
}
/*Grid*/
.rowsx{
      display:grid;
      grid-template-columns: repeat( auto-fill , minmax(280px , 1fr));
      grid-gap:2rem;
}
/*Featurs*/
.features .layer {
      position: relative;
      padding:1rem;
      border:1px solid var(--second-color);
      border-radius: .3em;
}
.features .layer:after{
      position: absolute;
      content:"";
      width:100%;
      inset:0;
      background-color: rgba(0,0,0,.6);
      opacity:0;
      transition:1.5s;
      -webkit-transition:1.5s;
      -moz-transition:1.5s;
      -ms-transition:1.5s;
      -o-transition:1.5s;
}
.features .layer:hover::after{
      opacity:1;
}
.features .layer img{
      border-radius: .4em;
      
}
.features .layer .child-parent{
      position: absolute;
      inset:0;
      color:white;
     
}
.features .layer .child-parent .center{
      position: relative;
      z-index: 3;

}
.features .layer .child-parent .center h4{
      font-size: 1.5em;
      color:var(--main-color);
      opacity:0;
      transition:.2s;
      -webkit-transition:.2s;
      -moz-transition:.2s;
      -ms-transition:.2s;
      -o-transition:.2s;
      transition-delay: .5s;
}
.features .layer:hover .child-parent .center h4{
      opacity:1;
}
.features .layer:hover .child-parent .center p{
      opacity:1;
}
.features .layer:hover .child-parent .center .icon{
      opacity:1;
}

.features .layer .child-parent .center p{
      font-size: 1.2em;
      transition-delay:.3s;
      opacity:0;
      transition:.2s;
      transition-delay: .7s;
}
.features .layer .child-parent .center .icon{
     display:flex;
     gap:1em;
     opacity:0;
      transition:.2s;
      transition-delay: 1s;

}
.features .layer .child-parent .center .icon span{
      width:40px;
      height:40px;
      cursor:pointer;
      background-color:var(--second-color);
      border:1px solid;
      border-radius: .2em;
      -webkit-border-radius: .2em;
      -moz-border-radius: .2em;
      -ms-border-radius: .2em;
      -o-border-radius: .2em;
}